<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3VBQZLBDT0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3VBQZLBDT0');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discoze</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="chat-container" id="chat-container">
        <!-- Messages will be dynamically added here -->
    </div>
    <div class="form-button">
        <!-- Add a button linking to the form -->
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfoMZ8C8NfUz03aoxT03T0FmZ6jbBrzVPAW8PvlDfFAcvXXUg/viewform"
           target="_blank"><button>Help us make this better for you</button></a>
    </div>
    <div class="input-container">
        <input type="text" id="message-input" placeholder="Type your message...">
        <button id="send-button">Send</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

